@font-face
{
    font-family: Quicksand;
    src: url('Quicksand/Quicksand-VariableFont_wght.ttf') format('ttf');
}

@font-face
{
    font-family: 'Raleway italic';
    src: url('Raleway/Raleway-Italic-VariableFont_wght.ttf') format('ttf');
}

@font-face
{
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf') format('ttf');
}