.container__cv {
  box-shadow: 4px 0px 4px 2px #00000062;
  background-color: #00061b;
  display: flex;
  width: 25vw;
  height: 117vh;
  flex-direction: column;
  margin-right: 1%;
  position: sticky;
  top: 10px;
  &__profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111f30;
    padding: 3%;
    height: 30vh;
    > img {
      border-radius: 100%;
      width: 80px;
      height: 80px;
      margin-bottom: 2%;
      + span {
        font-family: Quicksand, sans-serif;
        font-weight: 600;
        color: #04ffff;
        + span {
          color: #5c7c99;
        }
      }
    }
  }
  &__country {
    padding: 5% 5%;
    height: 15%;
    border-bottom: 1px #5c7a9948 solid;
    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      line-height: 40px;
    }
  }
  &__language {
    border-bottom: 1px #5c7a9948 solid;
    height: 25%;
    padding: 5% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__hard-skills {
    border-bottom: 1px #5c7a9948 solid;
    height: 35%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__skill {
      width: 100%;

      &__designation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        line-height: 30px;
      }
      &:nth-child(1) &__level-bare {
        height: 1.5vh;
        width: 100%;
        background: linear-gradient(to right, #04ffff 80%, #04ffff36 -20%);
        margin-bottom: 10px;
      }
      &:nth-child(2) &__level-bare {
        height: 1.5vh;
        width: 100%;
        background: linear-gradient(to right, #04ffff 65%, #04ffff36 -35%);
        margin-bottom: 10px;
      }
      &:nth-child(3) &__level-bare {
        height: 1.5vh;
        width: 100%;
        background: linear-gradient(to right, #04ffff 65%, #04ffff36 -35%);
        margin-bottom: 10px;
      }
      &:nth-child(4) &__level-bare {
        height: 1.5vh;
        width: 100%;
        background: linear-gradient(to right, #04ffff 80%, #04ffff36 -20%);
        margin-bottom: 10px;
      }
    }
  }
  &__download-cv {
    //border-top: 1px #5C7C99 solid;
    background-color: #111f30;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 6vh;
    > img {
      margin-right: 10px;
      height: 40%;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}
