.container__description__footer {
  height: 49vh;
  background-color: #00061b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  //border: 1px white solid;
  
}
